# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
env/

# Build directories
dist/
dist-ssr/

# Local environment files
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore these specific config files
.eslintrc.cjs
postcss.config.js
tailwind.config.js
vite.config.js

# Ignore package files if not needed (usually should be included)
package-lock.json
package.json

# Ignore the public folder if not needed

